.elements {
  /* display: inline-flexbox; */
  /* background-color: rgb(153, 153, 153); */
  padding-bottom: 4rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 550px;
}

@media (max-width: 1200px) {
  .container {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 550px;
  }
}

@media (max-width: 900px) {
  .container {
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 550px;
  }
}

/* <div class="elements " style="margin: 2rem;"> */
