<app-header></app-header>
<main>

  <!-- <app-myTest></app-myTest> -->

  <!-- <app-clip-create></app-clip-create> -->
  <!-- <app-clip-card></app-clip-card> -->
  <!-- <app-clips-list></app-clips-list> -->

  <!-- <app-shows-list></app-shows-list> -->

  <router-outlet></router-outlet>

  <!-- <app-shows-game-highlow></app-shows-game-highlow> -->

</main>


<footer>

  <div class="footer" #footer style="background-color: brown;">
    Hi !! I am footer !!!!
  </div>

</footer>

<!-- <footer>
  <div style="">

    <div style="background-color: brown; height: 100px">

    </div>

  </div>

</footer> -->