.example-card {
  max-width: 300px;
  /* max-height: 500px; */
}

.roundclass {
  border-radius: 0.5rem;
}

.main-div {
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

img {
  height: 400px;
  width: 300px;
  border-radius: 25px;
}

.paddingButtons {
  padding: 1rem;
  margin: 1rem;
}

.clickButton {
  background-color: rgb(130, 255, 203);
  /* color: blueviolet; */
  color: blueviolet;
  border-radius: 1rem;
}
