.example-card {
  max-width: 300px;
  /* max-height: 500px; */
}

.roundclass {
  border-radius: 0.5rem;
}

.main-div {
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

img {
  height: 400px;
  width: 300px;
  border-radius: 25px;
}

.paddingButtons {
  padding: 1rem;
  margin: 1rem;
}

.clickButton {
  background-color: rgb(130, 255, 203);
  /* color: blueviolet; */
  color: blueviolet;
  border-radius: 1rem;
}

.purple-shadow {
  box-shadow: 1px 1px 9px #5934ff;
  -moz-box-shadow: 1px 1px 9px #5934ff;
  -webkit-box-shadow: 1px 1px 9px #5934ff;
  -khtml-box-shadow: 1px 1px 9px #5934ff;
}

.green-shadow {
  box-shadow: 0px 0px 9px #1cd8d2;
  -moz-box-shadow: 0px 0px 9px #1cd8d2;
  -webkit-box-shadow: 0px 0px 9px #1cd8d2;
  -khtml-box-shadow: 0px 0px 9px #1cd8d2;

  /* padding: 0.1rem; */
}
