<div style="display: flex; justify-content: center;">
  <div>

    <button mat-stroked-button class="paddingButtons" [ngClass]="{'clickButton' : buttonSelected === buttonAll}"
      (click)="onClickType(buttonAll)">
      All
    </button>
    <button mat-stroked-button class="paddingButtons" [ngClass]="{'clickButton' :  buttonSelected === buttonMovie }"
      (click)="onClickType(buttonMovie)"> Movies </button>
    <button mat-stroked-button class="paddingButtons" [ngClass]="{'clickButton' :  buttonSelected === buttonTv}"
      (click)="onClickType(buttonTv)"> Tv's </button>

    <span style="width: 20px; height: 20px; border-radius: 0.5rem; color: blueviolet;"> 📺 🎬 🍿 </span>

    <button mat-stroked-button class="paddingButtons" [routerLink]="'/addnewshow'">
      Add Show</button>

  </div>
</div>


<app-show-list-only [shows]="shows" (onPickedShow)="moveToSingle($event)"></app-show-list-only>