<div class="centerClass">
  <div class="widthForm">

    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (ngSubmit)="onSave()" *ngIf="!isLoading" [formGroup]="form">
      <div style="margin-bottom: 2rem;">

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput name="email" type="email" placeholder="Email" formControlName="email">
          <mat-error *ngIf="form.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>

        <div style="margin-bottom: 1rem;">

          <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input type="password" name="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="form.invalid">Please enter a valid password.</mat-error>
            <mat-error *ngIf="form.invalid">Your password must have lower case, upper case and numeric
              characters.</mat-error>
          </mat-form-field>
        </div>

        <div style="margin-bottom: 1rem;">

          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input type="password" name="newPassword" matInput placeholder="New Password" formControlName="newPassword">
            <mat-error *ngIf="form.invalid">Please enter a valid password.</mat-error>
            <mat-error *ngIf="form.invalid">Your password must have lower case, upper case and numeric
              characters.</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password" name="confirmPassword" matInput placeholder="Confirm Password"
            formControlName="confirmPassword">
          <mat-error *ngIf="form.invalid">Your passwords must match</mat-error>
        </mat-form-field>

      </div>
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Save</button>
    </form>
  </div>
</div>