.example-form-field {
  width: 600px;
}

.main-div {
  /* height: 50rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerDiv {
  width: 600px;
  height: 600px;
  margin: 2rem;
}
