<div>

  <div class="main-div">

    <div style="background-color: azure;" class="innerDiv">
      <mat-card color="primary">

        <h2>
          Search Show
        </h2>

        <form [formGroup]="form" (ngSubmit)="onSave()">

          <!-- style="border-radius: 1rem;" -->
          <p>
            <mat-form-field class="example-full-width" style="width: 400px; " appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input formControlName="searchShowForm" matInput placeholder="Breaking Bad">
              <!-- <button *ngIf="searchShowForm.value" matSuffix mat-icon-button aria-label="Clear" -->
              <button *ngIf="" matSuffix mat-icon-button aria-label="Clear" (click)="clearValueFunc()">
                <!-- <mat-icon *ngIf="(searchShowForm.value !== '')">close</mat-icon> -->
                <mat-icon *ngIf="">close</mat-icon>
              </button>
              <!-- <mat-icon matSuffix *ngIf="(searchShowForm.value === '')">sentiment_very_satisfied</mat-icon> -->
              <mat-icon matSuffix *ngIf="true">sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>



          <div>

            <h2>{{form.get("searchShowForm").value}}</h2>

            <button mat-stroked-button type="button" (click)="fillDataResults()">Search Show</button>

            <br>
            <br>


            <!-- <h3 *ngFor="let item of fakeSearchRsults"> results: {{item}}</h3> -->


            <div class="main-div">

              <div *ngFor="let item of searchResults" style="margin: 1rem;">

                <mat-card class="example-card" style="border-radius: 1rem;">
                  <mat-card-header>
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <mat-card-subtitle>{{item.review}}</mat-card-subtitle>
                    <mat-card-subtitle>Rating ⭐ {{item.rating}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image class="" [src]="item.img" [alt]="item.title"
                    style="margin-top: 0.5rem; margin-bottom: 0rem;">
                  <mat-card-content>

                  </mat-card-content>
                  <mat-card-actions style="justify-content: center;">
                    <button mat-button type="button" (click)="onPickShow(item)">PICK ME</button>
                  </mat-card-actions>
                </mat-card>

              </div>

              <div *ngIf="pickedShow !== null" style="margin: 1rem;">

                <mat-card class="example-card" style="border-radius: 1rem;">
                  <mat-card-header>
                    <mat-card-title>{{pickedShow.title}}</mat-card-title>
                    <mat-card-subtitle>{{pickedShow.review}}</mat-card-subtitle>
                    <mat-card-subtitle>Rating ⭐ {{pickedShow.rating}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image class="" [src]="pickedShow.img" [alt]="pickedShow.title"
                    style="margin-top: 0.5rem; margin-bottom: 0rem;">
                  <mat-card-content>

                  </mat-card-content>
                  <mat-card-actions style="justify-content: center;">
                    <button mat-button type="button" (click)="onPickShow(pickedShow)">PICK ME</button>
                  </mat-card-actions>
                </mat-card>

              </div>


            </div>
          </div>



          <br>
          <br>
          <br>
          <h4>
            My Review
          </h4>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea formControlName="myReviewText" matInput maxlength="256"
              placeholder="Ex. I need help with..."></textarea>
            <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
            <mat-hint align="end">{{form.get("myReviewText").value.length}} / 256</mat-hint>
          </mat-form-field>


          <p>{{form.get("myReviewText").value}}</p>

          <br>

          <h4>My Rating</h4>

          <!-- <span>
          <button mat-fab disabled style="font-size: x-large; background-color: greenyellow;">⭐</button>
          <button mat-flat-button>⭐</button>
          <button style="font-size: x-large; background-color: greenyellow;">⭐</button>
          <button>⭐</button>
          <button mat-flat-button style="opacity: 0.4;">⭐</button>

        </span> -->

          <!-- <div class="example-button-container">
          <button mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon style="color: red; background-color: aquamarine;" color="red">star</mat-icon>
          </button>
        </div> -->

          <div>


            <span>

              <span *ngFor="let item of stars; let i = index" [ngClass]="{'opacityStar': !stars[i], }"
                (click)="onStarClick(i)" class="stars-class">⭐</span>
              <span class="stars-class">🌗</span>

              <span class="opacityStar">
                ⭐⭐
              </span>


            </span>

          </div>





          <br>
          <br>

          <!-- mat-flat-button -->
          <!-- mat-stroked-button -->
          <div style=" justify-content: center; display: flex;">
            <button mat-raised-button class="colorHeader" style="width: 400px;" type="submit">
              SAVE</button>
          </div>


          <br>
          <br>

        </form>


        <button mat-flat-button>Show Preview</button>
        <h3> Preview </h3>

        <br>




        <!-- <app-single-show>

        </app-single-show> -->

      </mat-card>
    </div>
  </div>
</div>

<!-- <app-clip-card [show]="myShow" style="margin: 2rem;"> </app-clip-card> -->