<div class="scores" style="margin-top: 2rem;">
  <div>

    <h3 class="propJello"> <span class="underlined underline-clip">Max score : {{maxScore}} </span></h3>
  </div>

  <div>

    <h3 class="propJello"> <span class="underlined underline-overflow">Score : {{score}}</span></h3>
  </div>
  <button mat-stroked-button *ngIf="!gameOver" (click)="onChangeTheMedia()">{{media}}</button>
  <button mat-stroked-button *ngIf="gameOver" (click)="newGame()"
    style="width: 140px; height: 120px; font-size: xx-large;">
    Play
    Again</button>
</div>


<div class="container">

  <div class="box1">

    <h2 class=""> {{firstTitle}}</h2>
    <img [src]="firstImg" alt="">
    <div class="miniContainer">
      <h3> Rating ★ {{rating}}</h3>
    </div>
  </div>

  <div class="box2">
    <h4 *ngIf="!gameOver" class="propJello"><span>Vs</span></h4>
    <h1 *ngIf="gameOver" class="propJello" style="color: red;"><span>GAME OVER</span></h1>
  </div>
  <!-- btnSpace -->
  <div class="box3">
    <h2 class=""> {{secondTitle}}</h2>

    <img [src]="secondImg" alt="">
    <div class="miniContainer">

      <!-- <h3> Your Rating Is : {{rating2}}</h3> -->

      <!-- <button class="btnSpace" (click)="onClickChoseAction()"> Higher</button> -->
      <button mat-raised-button color="primary" class="btnSpace" [disabled]="gameOver"
        (click)="onClickShowsAction(GameAnswer.higher)">
        Higher</button>
      <button mat-raised-button color="warn" class="btnSpace" [disabled]="gameOver"
        (click)="onClickShowsAction(GameAnswer.lower)">
        Lower</button>

    </div>
  </div>



</div>
