.elements {
  /* display: inline-flexbox; */
  /* background-color: rgb(153, 153, 153); */
  padding-bottom: 4rem;
}

.container {
  display: grid;
  align-content: center;

  align-self: center;
  text-align: center;

  /* height: 600px; */

  /* align-items: center; */
  grid-template-columns: repeat(11, 1fr);
  /* grid-row: 2 60px; */
  grid-auto-rows: 550px;
}

img {
  height: 300px;
  width: 200px;
  border-radius: 25px;

  box-shadow: 5px 5px 6px #ccc;
  -moz-box-shadow: 5px 5px 6px #ccc;
  -webkit-box-shadow: 5px 5px 6px #ccc;
  -khtml-box-shadow: 5px 5px 6px #ccc;
}

.box1 {
  /* height: 200px; */
  align-self: center;

  grid-column-start: 2;
  grid-column-end: 5;
  /* grid-row-start: 1;
  grid-row-end: 3; */
}

.box2 {
  align-self: center;
  grid-column-start: 6;
  grid-column-end: 7;
}

.box3 {
  /* height: 200px; */
  align-self: center;

  grid-column-start: 8;
  grid-column-end: 11;
}

.miniContainer {
  /* align-self: center; */
  /* align-items: center; */
  height: 60px;
  padding: 1rem;
}

.btnSpace {
  margin: 1rem;
}

.under-box-div {
  height: 60px;
}

.scores {
  text-align: center;
  align-self: center;
}

/* @media (max-width: 1200px) {
  .container {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 550px;
  }
}

@media (max-width: 900px) {
  .container {
    /* background-color: black; */ /*
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 550px;
  }
}

*/

/* <div class="elements " style="margin: 2rem;"> */

///////////////////// new css for text

*,
*:after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(210 30% 24%);
}

h1 {
  font-size: clamp(3rem, 15vmin, 8rem);
  font-family: sans-serif;
  color: hsl(0 0% 98%);
}

.underlined {
  /*   background: red; */
  position: relative;
}

.underline-mask:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(
    from var(--start),
    white 0 var(--spread),
    transparent var(--spread)
  );
}

.underline-overflow {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}
.underline-overflow:after {
  content: "";
  position: absolute;
  top: 100%;
  height: 150%;
  aspect-ratio: 2.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 6px solid hsl(10 80% 50%);
}

.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(130 80% 50%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

/////////////////// this is a new for the text

////////////////////////////////  new try style
///
///

// Make it pretty
html {
  height: 100%;
}

.propJello {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: rgba(172, 106, 172, 1);
  font-family: "Righteous", cursive;
  font-size: 2rem;
}
