<!-- <div style="justify-content: center;  display: flex;">

  <p>
    friends-shows-list works!
  </p>

  <h1> Here will be the friend shows !! @@ $$ && **</h1>

  <app-friend-card [buttonEnabled]="false" [friend]="friend.friendUsername"></app-friend-card>

  <button (click)="getAllFriendShows()"> Reset Friend Shows </button>
  <button (click)="jointShows()"> Joint Shows </button>
  <button (click)="differentShows()"> Different Shows </button>


  <div>


    <button mat-stroked-button class="paddingButtons" [ngClass]="{'clickButton' : buttonSelected === buttonAll}"
      (click)="onClickType(buttonAll)">
      All
    </button>
    <button mat-stroked-button class="paddingButtons" [ngClass]="{'clickButton' :  buttonSelected === buttonMovie }"
      (click)="onClickType(buttonMovie)"> Movies </button>
    <button mat-stroked-button class="paddingButtons" [ngClass]="{'clickButton' :  buttonSelected === buttonTv}"
      (click)="onClickType(buttonTv)"> Tv's </button>

  </div>

  <span style="width: 20px; height: 20px; border-radius: 0.5rem; color: blueviolet;"> 📺 🎬 🍿 </span>


</div> -->

<div style="justify-content: center;  display: flex; align-items: center; ">
  <app-friend-card [buttonEnabled]="false" [friend]="friend.friendUsername"></app-friend-card>

  <span>

    <h1 *ngIf="actionWithBoth && buttonSelectedOpertion === buttonJointOpertion">
      <<[ Joint ]>>
    </h1>

    <h1 *ngIf="actionWithBoth && buttonSelectedOpertion === buttonJointOpertion">
      <<[ Boing ]>>
    </h1>

  </span>

  <h1 *ngIf="actionWithBoth && buttonSelectedOpertion === buttonDifferentOpertion">
    <<[ Different ]>>
  </h1>

  <app-friend-card *ngIf="actionWithBoth" [buttonEnabled]="false" [friend]="usernameIn"></app-friend-card>

</div>

<br>

<div style="justify-content: center;  display: flex;">

  <div>
    <button mat-stroked-button class="paddingButtons"
      [ngClass]="{'clickButtonOpertion' :  buttonSelectedOpertion === buttonAllOpertion}" (click)="getAllFriendShows()">
      All
      Friend Shows </button>
    <button mat-stroked-button class="paddingButtons"
      [ngClass]="{'clickButtonOpertion' :  buttonSelectedOpertion === buttonJointOpertion}" (click)="jointShows()">
      Joint Shows
    </button>
    <button mat-stroked-button class="paddingButtons"
      [ngClass]="{'clickButtonOpertion' :  buttonSelectedOpertion === buttonDifferentOpertion}"
      (click)="differentShows()">
      Different Shows </button>
  </div>


</div>


<div style="justify-content: center;  display: flex;">





  <div>

    <button mat-stroked-button class="paddingButtons"
      [ngClass]="{'clickButtonType' : buttonSelectedTypes === buttonAll}" (click)="onClickType(buttonAll)">
      All
    </button>
    <button mat-stroked-button class="paddingButtons"
      [ngClass]="{'clickButtonType' :  buttonSelectedTypes === buttonMovie }" (click)="onClickType(buttonMovie)"> Movies
    </button>
    <button mat-stroked-button class="paddingButtons"
      [ngClass]="{'clickButtonType' :  buttonSelectedTypes === buttonTv}" (click)="onClickType(buttonTv)"> Tv's
    </button>

    <span style="width: 20px; height: 20px; border-radius: 0.5rem; color: blueviolet;"> 📺 🎬 🍿 </span>

    <!-- <br> -->

    <!-- <div style="justify-content: center; display: flex;">

      <button mat-stroked-button class="paddingButtons" (click)="onClickType(buttonTv)">
        Tv's </button>

    </div> -->

  </div>
</div>



<app-show-list-only [shows]="shows"></app-show-list-only>