.mainDiv {
  background-image: url("https://img.freepik.com/free-vector/background-objects-see-movie_23-2147599681.jpg?w=826&t=st=1687632387~exp=1687632987~hmac=7323e9cce5f7268a3456121d4a02e1028be50a08c3fe19ea3901571ae4b83b22"),
    url("https://img.freepik.com/free-vector/background-objects-see-movie_23-2147599681.jpg?w=826&t=st=1687632387~exp=1687632987~hmac=7323e9cce5f7268a3456121d4a02e1028be50a08c3fe19ea3901571ae4b83b22");
  background-color: #cccccc;

  border-radius: 5rem;

  object-fit: cover;

  /* width: 100%;
  height: 100%; */

  height: 1200px;

  background-size: cover;
}

.centerClass {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* height: 1000px; */
}

.break {
  flex-basis: 100%;
  width: 0;
}

.backgoundPic {
  background-image: url("https://img.freepik.com/free-vector/background-objects-see-movie_23-2147599681.jpg?w=826&t=st=1687632387~exp=1687632987~hmac=7323e9cce5f7268a3456121d4a02e1028be50a08c3fe19ea3901571ae4b83b22"),
    url("https://img.freepik.com/free-vector/background-objects-see-movie_23-2147599681.jpg?w=826&t=st=1687632387~exp=1687632987~hmac=7323e9cce5f7268a3456121d4a02e1028be50a08c3fe19ea3901571ae4b83b22");
  background-color: #cccccc;

  border-radius: 5rem;

  object-fit: cover;
}

.mainTitle {
  background: #00c9ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #92fe9d,
    #00c9ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #92fe9d,
    #00c9ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 3rem;
  border-radius: 3rem;

  border: whitesmoke;
  border: gold;

  border-style: solid;
  /* border-color: #ffe261; */
  border-width: 2px;

  /* border-width: 2rem; */
}
