<div class="mainDiv">

  <div style="margin: 4rem;"></div>

  <!-- <span style="margin: 4rem;"></span> -->

  <div class=" centerClass ">


    <!-- Hello and welcome to Track Shows Web Application -->
    <mat-card class="mainTitle" style="text-align: center;">
      <mat-card-header>
        <mat-card-title style="font-size: xx-large; padding: 1rem; margin-bottom: 0.5rem; ">
          {{appTitle}}
        </mat-card-title>
        <mat-card-title style="font-size: x-large; padding: 1rem; margin-bottom: 0.5rem; ">
          {{appSubTitle}}
        </mat-card-title>
      </mat-card-header>
    </mat-card>


    <div class="break"></div>

    <div *ngFor="let op of appOptionFeatures">



      <mat-card class="cardOptions">
        <mat-card-header>
          <mat-card-title>{{op.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <p>This card indeterminates progress bar.</p> -->
          <p style="margin-left: 1rem;">{{op.content}}</p>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="break"></div>

    <!--
    <h2> Nice to have you , sign up and long in to use all the feater the app have to offer 😊⭐🔥🚀📺🎬🍿
    </h2>

    <div class="break"></div> -->


  </div>

</div>