<div style="display: flex; justify-content: center; padding: 2rem;">
  <mat-card style="padding: 2rem;">

    <span style="display: flex; justify-content: center;">

      <img [src]=" minchProfilePic" alt="" style=" width: 100px; height: 100px;">
      <span style="margin: 1rem;">
        <h2 style="min-width: 15ch;">{{friend}}</h2>
        <div style="display: flex; justify-content: end;">
          <button mat-stroked-button (click)="fillFriend()">Add</button>
        </div>
      </span>

    </span>


  </mat-card>
</div>