<mat-toolbar class="colorHeader">
  <span>
    <a routerLinkActive="mat-accent" routerLink="/">Shows App</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/game" routerLinkActive="mat-accent">Shows Game</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <!-- maybe to currect the path like the login and signup -->
    <!-- <li>
      <a mat-button routerLink="changepassword" routerLinkActive="mat-accent">Change password ⇌</a>
    </li> -->
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>

    <li>
      <a routerLink="/myshows" routerLinkActive="mat-accent" mat-button>My Shows</a>
    </li>
    <li>
      <a routerLink="/myfriends" routerLinkActive="mat-accent" mat-button>My Friends</a>
    </li>
    <!-- <li *ngIf="userIsAuthenticated"> -->
    <li>
      <a routerLink="/settings" routerLinkActive="mat-accent" mat-button>Settings ⚙️</a>
    </li>

    <!-- <li>
      <a routerLink="/testtcomnponent" routerLinkActive="mat-accent" mat-button>test single </a>
    </li>

    <li>
      <a routerLink="/testtcomnponent22" routerLinkActive="mat-accent" mat-button>test single 22 </a>
    </li>

    <li>
      <a routerLink="/testtcomnponent44" routerLinkActive="mat-accent" mat-button>test single 44 </a>
    </li>

    <li>
      <a mat-button routerLink="/single" routerLinkActive="mat-accent" style="color: yellow;">Single</a>
    </li> -->

  </ul>

  <div *ngIf="userIsAuthenticated" style="margin: 1rem;">

    <a routerLink="/">
      <img [src]="usernamePicLink" [alt]=" this.usernamePicLink" style="width: 50px; height: 50px; margin-top: 10px;">
    </a>

  </div>

</mat-toolbar>
<div style="margin-bottom: 2rem;"></div>