<mat-toolbar class="colorHeader">
  <span>
    <a routerLinkActive="mat-accent" routerLink="/">Shows App</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/game" routerLinkActive="mat-accent">Shows Game</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
    <li>
      <a routerLink="/myshows" routerLinkActive="mat-accent" mat-button>My Shows</a>
    </li>

    <li>
      <a routerLink="/testtcomnponent" routerLinkActive="mat-accent" mat-button>test single </a>
    </li>

    <li>
      <a routerLink="/testtcomnponent22" routerLinkActive="mat-accent" mat-button>test single 22 </a>
    </li>

    <li>
      <a routerLink="/testtcomnponent44" routerLinkActive="mat-accent" mat-button>test single 44 </a>
    </li>

    <li>
      <a mat-button routerLink="/single" routerLinkActive="mat-accent" style="color: yellow;">Single</a>
    </li>

  </ul>

  <div *ngIf="userIsAuthenticated" style="margin: 1rem;">

    <img [src]="usernamePicLink" alt="micah seed=Felix2-_" style="width: 50px; height: 50px">
  </div>

</mat-toolbar>
<div style="margin-bottom: 2rem;"></div>
