<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="onLogin()" *ngIf="!isLoading" [formGroup]="form">
    <mat-form-field>
      <input matInput name="email" type="email" placeholder="Email" formControlName="email">
      <mat-error *ngIf="form.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput name="username" type="text" placeholder="Username" formControlName="username">
      <mat-error *ngIf="form.invalid">Please enter a valid email.</mat-error>
    </mat-form-field> -->

    <mat-form-field>
      <input type="password" name="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="form.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <br>
    <div style="display: flex; justify-content: end; margin-bottom:  1rem;">
      <a href="">forgot password?</a>
    </div>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>