<div style="display: flex; justify-content: center;">

  <div class="grid-container">
    <div class="item">
      <app-clip-card [show]="show"></app-clip-card>
    </div>

    <div class="item">

      <div class="main-div marginPadding">

        <mat-card style="border-radius: 1rem;" class="innerCard">
          <mat-card-header>
            <!-- <h4>Resource URL:</h4>
          <p>Showing: {{clip.shortUri}}</p> -->

            <mat-card-title style="font-size: 2rem;">
              {{show.title}}
            </mat-card-title>

            <mat-card-subtitle>
              <!-- <a style="cursor: pointer;" (click)="onClickNameClip(clip)"> -->
              <a style="cursor: pointer;" style="font-size: 1rem;">
                {{"~ "+ show.title}}
              </a>
            </mat-card-subtitle>

            <!-- <mat-card-subtitle style="font-size: 1rem;"> -->
            <mat-card-subtitle>
              <span>
                📺 🎬
              </span>
            </mat-card-subtitle>

          </mat-card-header>


          <div class="centerIt">
            <mat-card-content style="height: 500px">

              <h1 style="padding: 0 1rem 0 1rem ;">Review</h1>
              <p style="height: 300px; width: 320px; padding: 0 2rem 0 2rem ;">
                {{show.review}}
              </p>

              <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, -->
              <!-- // 256 chars -->

              <br>

              <div class="" style="margin-left: 2rem;">

                <div *ngIf="show.seasons">
                  <span>
                    seasons :
                  </span>
                  <a style="margin: 2rem 0 2rem 1rem" class="yellowShadow">
                    {{show.seasons}}
                  </a>
                </div>

                <div *ngIf="show.minutes">
                  <span>
                    minutes :
                  </span>
                  <a style="margin: 2rem 0 2rem 1rem" class="yellowShadow">
                    {{show.minutes}}
                  </a>
                </div>

              </div>
              <!-- mat-button -->
              <!--
              🎨

            ⌛ -->

              <br>
              <br>

              <div>
                <!-- <span (click)="onClickStar()" class="stars-class">⭐</span>
              <span class="stars-class">⭐</span>
              <span class="stars-class">⭐</span>
              <span class="stars-class">⭐</span>
              <span class="stars-class">⭐</span>
              <span *ngIf="visibleHalfMoon" class="stars-class">🌗</span> -->

                <!-- <a style="color: blue"> friends </a> -->

                <br>

                <div style="display: flex; justify-content: end; margin: 0  0 1rem 1rem;">
                  <!-- <span style="float: right"> -->
                  <!-- <button mat-stroked-button color="primary">Edit</button> -->
                  <button mat-raised-button color="primary">Edit</button>

                </div>

              </div>

              <!-- <br> -->


            </mat-card-content>
          </div>

        </mat-card>
      </div>


      <div>

      </div>




    </div>



  </div>
</div>